In [1]:

import psycopg2
import pandas as pd

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    dbname="FinanceDB",
    user="postgres",
    password="",
    host="localhost",
    port="5433"
)

In [8]:
# Write your SQL query
query = 'SELECT * FROM public."ETFprices";'

# Execute the query and load the results into a DataFrame
df = pd.read_sql_query(query, conn)

# Print the DataFrame
print(df)

C:\Users\cruza\AppData\Local\Temp\ipykernel_183616\1627392576.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

        fund_symbol  price_date   open   high    low  close  adj_close  \
0               AAA  2020-09-09  25.10  25.12  25.07  25.07      24.85
1               AAA  2020-09-10  25.06  25.07  25.05  25.07      24.85
2               AAA  2020-09-11  25.04  25.05  25.02  25.03      24.81
3               AAA  2020-09-14  25.01  25.06  25.01  25.02      24.80
4               AAA  2020-09-15  25.02  25.03  25.01  25.01      24.79
...             ...         ...    ...    ...    ...    ...        ...
4914600        FEUZ  2017-11-10  42.67  42.67  42.16  42.45      39.53
4914601        FEUZ  2017-11-13  41.72  41.91  41.72  41.80      38.92
4914602        FEUZ  2017-11-14  42.28  42.67  42.24  42.51      39.58
4914603        FEUZ  2017-11-15  41.95  42.43  41.57  42.37      39.45
4914604        FEUZ  2017-11-16  42.78  42.85  42.59  42.66      39.72

          volume
0        17300.0
1        23500.0
2        33400.0
3        13100.0
4        12100.0
...          ...
4914600   6400.0
4914601   5100.0
4914602  27600.0
4914603  12000.0
4914604   1500.0

[4914605 rows x 8 columns]