In [1]:

import psycopg2
import pandas as pd

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    dbname="FinanceDB",
    user="postgres",
    password="postgres",
    host="localhost",
    port="5433"
)

OperationalError: connection to server at "localhost" (::1), port 5433 failed: FATAL:  database "FinanceDB" does not exist

In [2]:
# Write your SQL query
query = 'SELECT * FROM public."ETFprices";'

# Execute the query and load the results into a DataFrame
df = pd.read_sql_query(query, conn)

# Print the DataFrame
print(df)

NameError: name 'conn' is not defined